@import '../../../styles/static/mixins.scss';

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--gray);
  transition: all 0.3s ease;
  border-radius: 20px;
  width: 100%;
  height: 365px;
  max-width: 300px;
  margin: 0 auto;
  position: relative;

  &:hover {
    border: 1px solid var(--black);
    box-shadow: 0 -5px 15px var(--black);
    transition: all 0.3s ease;

    .item__img {
      display: none;
    }
    .item__imgHover {
      display: flex;
    }
    .item__buy {
      display: block !important;
    }
    .item__rating {
      display: none;
    }
  }

  @include response ($d1079) {
    height: auto;
    &:hover {
      box-shadow: none;
      .item__img {
        display: block;
      }
      .item__imgHover {
        display: none;
      }
      .item__buy {
        display: block !important;
      }
      .item__rating {
        display: flex;
      }
    }
  }
  
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;


  &__img,
  &__imgHover {
    width: 150px;
  }

  &__price {
    margin-top: 15px;
  }

  &__imgHover {
    display: none;
  }

  &__rating {
    display: flex;

    margin-top: 15px
  }

  &__buy {
    width: 100% !important;
    border-radius: 19px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    font-weight: 500 !important;
    background-color: var(--blackBg-10) !important;
    padding: 10px 0 !important;
    display: none !important;

    @include response ($d1079) {
      display: flex !important;
    }
  }
}
