//normalize
@import "./normalize.scss";

//variable
@import "./variable";

//fonts
@import "./fonts";

//mixins
@import "./mixins.scss";

/*styles*/
html{
  overflow-x: hidden; 

  font-size: $font-size-l;
}


body {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size-standart;
  line-height: $line-height;
  color: var(--black);
  min-width: 320px; 
  margin: auto;
  background-color: var(--whiteBg);
}

input,button,textarea{
  font-family: $font-family;
} 

.container {
  max-width: 1800px;
  padding: 0 20px;
  margin: 90px auto;
}

.no-scroll {
  overflow: hidden; 
}










